{% extends 'layout/inner.html' %}
{% load static %}

{% block content %}
<div class="page-body">
    <div class="container-fluid">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-6">
            <h3>Category</h3>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item">Category</li>
              <li class="breadcrumb-item active">Add Category</li>
            </ol>
          </div>
          <div class="col-sm-6">
            <!-- Bookmark Start-->
            <div class="bookmark">
              <ul>
                <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                  <form class="form-inline search-form">
                    <div class="form-group form-control-search">
                      <input type="text" placeholder="Search..">
                    </div>
                  </form>
                </li>
              </ul>
            </div>
            <!-- Bookmark Ends-->
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header pb-0">
              <h5>Add Category</h5>
            </div>
            <div class="card-body">
              <form class="needs-validation" novalidate="" method="POST" action="category-add">
                {% csrf_token %}
                <div class="row g-3">
                  <div class="col-md-12">
                    <label class="form-label" for="validationCustom01">Category Name</label>
                    <input class="form-control" id="validationCustom01" type="text" name="category_name" required="">
                    <div class="invalid-feedback">Enter Category Name</div>
                  </div>
                  <div class="col-md-12">
                    <label class="form-label" for="validationCustom01">Category Image</label>
                    <input class="form-control" id="validationCustom01" type="file" name="category_image" required="">
                    <div class="invalid-feedback">Enter Category Image</div>
                  </div>
                  <div class="col-md-12">
                    <label class="form-label" for="validationCustom01">Sub Category Name</label>
                    <input class="form-control" id="validationCustom01" type="text" required="">
                    <div class="invalid-feedback">Enter Sub Category Name</div>
                  </div>
                  <div class="mb-3">
                  <div class="form-check">
                    <div class="checkbox p-0">
                      <input class="form-check-input" id="invalidCheck" type="checkbox" required="">
                      <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                    </div>
                    <div class="invalid-feedback">You must agree before submitting.</div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                  </div>
                </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
{% endblock content %}